.auth {
  height: 100vh;
  display: flex;
  flex-direction: column;

  @media (min-width: 750px) {
    flex-direction: row;
  }

  &__left,
  &__right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  &__left {
    min-width: 375px;
    min-height: 350px;
    background-color: var(--primary);
    color: white;

    p {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
  }

  &__right {
    flex: 1;
    flex-direction: column;

    .auth-form,
    .auth-provider {
      width: 452px;
    }

    .auth-form {
      margin-bottom: 60px;

      form {
        display: flex;
        flex-direction: column;

        input {
          border-radius: 30px;
          background-color: transparent;
          outline: none;
          border: none;
          padding: 15px;
          border: 1px solid rgba(0, 0, 0, 0.493);

          &:nth-child(1) {
            margin-bottom: 7px;
          }
        }

        button {
          width: 100%;
          margin-bottom: 2rem;

          &:nth-of-type(1) {
            margin-top: 1rem;
          }
        }
      }
    }

    .auth-provider {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100px;

      @media (min-width: 400px) {
        flex-direction: row;
        height: auto;
      }

      .google,
      .facebook {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (min-width: 400px) {
          flex: 0.8;
        }

        .social-icon {
          margin-right: 0.3rem;
        }
      }

      .google {
        margin-right: 5px;

        &:hover {
          background-color: rgb(244, 244, 244);
        }
      }

      .facebook {
        background-color: rgb(56, 82, 152);
        border: none;
        color: white;

        &:hover {
          background-color: rgba(56, 82, 152, 0.863);
        }

        .social-icon {
          color: white;
        }
      }
    }
  }
}
