.auth-form {
  margin-bottom: 60px;

  form {
    display: flex;
    flex-direction: column;
    flex: 1;

    input:nth-child(1) {
      margin-bottom: 7px;
    }
  }

  .auth-switch {
    background-color: white;
    color: var(--primary);
    border: 1px solid var(--primary);
    display: block;
    text-align: center;
  }
}

.auth-provider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;

  @media (min-width: 400px) {
    flex-direction: row;
    height: auto;
  }

  .provider_btn {
    display: flex;
    justify-content: center;

    @media (min-width: 400px) {
      flex: 0.9;
    }

    .social-icon {
      margin-right: 0.3rem;
    }

    &.google {
      margin-right: 5px;

      &:hover {
        background-color: rgb(244, 244, 244);
      }
    }

    &.facebook {
      background-color: rgb(56, 82, 152);
      border: none;
      color: white;

      &:hover {
        background-color: rgba(56, 82, 152, 0.863);
      }

      .social-icon {
        color: white;
      }
    }
  }
}
