.feed {
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);

  .feed__header {
    background-color: white;
    height: 60px;
    font-weight: bold;
    padding: 1rem;
    border-bottom: 1px solid var(--border);
  }
}
