.profile {
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);

  .profileHeader {
    height: 410px;
    display: flex;
    flex-direction: column;

    &__bg {
      height: 45%;
      flex: 1;

      img,
      .default-bg {
        width: 100%;
        height: 100%;
      }

      .default-bg {
        background-color: var(--primary);
      }
    }

    &__edit-profile,
    &__username,
    &__bio,
    &__other-info {
      flex: 0.1;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
    }

    &__edit-profile {
      position: relative;

      .profile-img {
        background-color: white;
        width: 110px;
        height: 110px;
        margin-left: 1rem;
        margin-top: -3rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img,
        .default-img {
          width: 93%;
          height: 93%;
          border-radius: 50%;
        }

        .default-img {
          background-color: rgba(0, 0, 0, 0.411);
        }
      }

      .edit-btn {
        margin-left: auto;
      }
    }

    &__username,
    &__bio,
    &__other-info {
      padding: 0 0.8rem;
    }

    &__bio,
    &__other-info {
      font-size: 0.9rem;
    }

    &__other-info {
      color: rgba(0, 0, 0, 0.308);

      svg {
        margin-right: 0.3rem;
      }

      .calendar {
        margin-left: 1rem;
      }
    }

    &__nav {
      height: 45px;

      ul {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        color: rgb(134, 147, 159);

        li {
          height: 100%;
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }

        li:nth-child(1) {
          color: var(--primary);
          border-bottom: 2px solid var(--primary);
        }
      }
    }
  }
}
