.sidebar {
  padding-top: 1rem;

  @media (min-width: 750px) {
    width: 275px;
  }

  .twitter-icon {
    width: 50px;
    height: 50px;
    padding: 0.8rem;
    border-radius: 50%;
    display: block;
    margin-left: 1rem;
    margin-bottom: 1rem;
    color: var(--primary);
    font-size: 1.5rem;
    cursor: pointer;

    svg {
      font-size: 1.5rem;
    }

    &:hover {
      background-color: var(--primary-hover);
    }
  }

  ul {
    height: 100%;
    padding: 1rem;
    padding-top: 0;
    position: relative;

    li,
    a {
      display: flex;
      align-items: center;
      justify-content: center;

      @media (min-width: 750px) {
        justify-content: stretch;
      }
    }

    li {
      margin-bottom: 1rem;
      border-radius: 30px;
      padding: 0.8rem;
      font-weight: bold;
      cursor: pointer;

      &:last-of-type {
        width: calc(100% - 2rem);
        position: absolute;
        bottom: 10px;
        display: flex;
        justify-content: space-around;

        span:nth-of-type(2) {
          padding-top: 4px;
        }
      }

      svg {
        font-size: 1.3rem;
        color: rgba(0, 0, 0, 0.795);

        @media (min-width: 750px) {
          margin-right: 1rem;
        }
      }

      span {
        display: none;

        @media (min-width: 750px) {
          display: inline-block;
        }
      }

      &:hover {
        background-color: rgb(233, 246, 253);
        color: var(--primary);

        svg {
          color: var(--primary);
        }
      }
    }

    .logout {
      position: absolute;
      bottom: 90px;
      left: 1rem;
      width: 230px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: rgba(255, 0, 0, 0.767);
      }
    }
  }
}
