@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary: rgb(0, 157, 250);
  --red: rgb(255, 82, 73);
  --border: rgba(0, 0, 0, 0.068);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

input,
button {
  padding: 15px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.308);
  background-color: white;
  outline: none;
}

.input-submit {
  background-color: var(--primary);
  color: white;
  font-weight: 600;
  margin-top: 1.7rem;
  margin-bottom: 3.2rem;
  border: none;
}

button,
.input-submit {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

.link_icon {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--primary);
}

.App {
  width: 100vw;
  min-height: 550px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid var(--border);
  padding: 0.7rem;
  padding-top: 0;
  background-color: white;
  position: relative;

  @media (min-width: 500px) {
    width: 500px;
    padding: 2rem;
    padding-top: 0;
  }

  .init-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-bottom: 1px solid var(--border);
  margin-bottom: 3rem;

  .link_home {
    display: flex;
    align-items: center;
    justify-content: center;

    .link_icon {
      font-size: 2.5rem;
    }
  }
}

/* AuthForm */
.auth-form {
  margin-bottom: 60px;

  form {
    display: flex;
    flex-direction: column;
    flex: 1;

    input:nth-child(1) {
      margin-bottom: 7px;
    }
  }

  .auth-switch {
    background-color: white;
    color: var(--primary);
    border: 1px solid var(--primary);
    display: block;
    text-align: center;
  }
}

.auth-provider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;

  @media (min-width: 400px) {
    flex-direction: row;
    height: auto;
  }

  .provider_btn {
    display: flex;
    justify-content: center;

    @media (min-width: 400px) {
      flex: 0.9;
    }

    .social-icon {
      margin-right: 0.3rem;
    }

    &.google {
      margin-right: 5px;

      &:hover {
        background-color: rgb(244, 244, 244);
      }
    }

    &.facebook {
      background-color: rgb(56, 82, 152);
      border: none;
      color: white;

      &:hover {
        background-color: rgba(56, 82, 152, 0.863);
      }

      .social-icon {
        color: white;
      }
    }
  }
}

/* Nav */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;

  .link_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Tweet form container */
.tweet-form-container {
  width: 100%;
  position: relative;
  margin-bottom: 2rem;

  .tweet-form {
    width: 100%;

    .row-1 {
      display: flex;
      position: relative;

      .input-text {
        flex: 1;
        padding-right: 60px;
        border: 1px solid var(--primary);
      }

      .input-submit {
        position: absolute;
        right: 0;
        background-color: var(--primary);
        height: 100%;
        width: 50px;
        padding: 10px 0px;
        text-align: center;
        border-radius: 30px;
        color: white;
        border: none;
        margin: 0;
      }
    }

    .row-2 {
      .add-photo-label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80px;

        span {
          margin-right: 0.9rem;
        }

        .add-photo-icon {
          color: var(--primary);
          font-size: 1.5rem;
          cursor: pointer;
        }
      }

      .add-photo-input {
        display: none;
      }
    }
  }

  .photo-snippet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--border);
    padding: 0.2rem;
    position: relative;

    img {
      width: 50%;
      height: 150px;
    }

    button {
      position: absolute;
      right: 10px;
      bottom: 10px;
      padding: 0.4rem 1rem;
    }
  }
}

/* Tweet */
.tweets {
  .tweet {
    margin-bottom: 0.8rem;
    min-height: 2rem;
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    border-radius: 10px;
    border: 1px solid var(--border);
    padding: 0.7rem;

    // add-userInfo-inTweet branch
    flex-direction: row;

    .col-1 {
      // background-color: blanchedalmond;
      width: 40px;
      height: 40px;
    }

    .col-2 {
      // background-color: cornflowerblue;
      flex: 1;

      .user-info,
      .tweet-text,
      .tweet-img {
        margin-bottom: 0.3rem;
      }

      .user-info {
        // background-color: darkorange;
        position: relative;

        .icons {
          // background-color: yellowgreen;
          display: inline-block;
          position: absolute;
          right: 0;

          .icon {
            cursor: pointer;
            color: var(--primary);
          }

          .delete-icon {
            margin: 0 0.5rem 0 1rem;
          }
        }
      }

      .tweet-text {
        margin-bottom: 1rem;
      }

      .tweet-img {
        img {
          display: block;
          width: 100%;
          height: 250px;
          margin: 0 auto 2rem auto;
          border-radius: 20px;
          object-fit: cover;

          // border: 1px solid rgba(0, 0, 0, 0.151);
        }
      }
    }
  }
}

/* Profile */
.profile-container {
  height: 460px;
  border: 1px solid var(--border);

  .profile {
    height: 410px;
    display: flex;
    flex-direction: column;

    &__row-1 {
      height: 45%;
      flex: 1;

      img,
      .default-bg {
        width: 100%;
        height: 100%;
      }

      .default-bg {
        background-color: var(--primary);
      }
    }

    &__row-2,
    &__row-3,
    &__row-4,
    &__row-5 {
      flex: 0.1;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
    }

    &__row-2 {
      position: relative;

      .profile-img {
        background-color: white;
        width: 110px;
        height: 110px;
        margin-left: 1rem;
        margin-top: -3rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img,
        .default-img {
          width: 93%;
          height: 93%;
          border-radius: 50%;
        }

        .default-img {
          background-color: rgba(0, 0, 0, 0.411);
        }
      }

      .edit-btn {
        padding: 5px 8px;
        border-radius: 30px;
        margin-left: auto;
        border: 1px solid var(--primary);
        color: var(--primary);
      }

      .more-btn {
        text-align: center;
        width: 20px;
        height: 20px;
        margin: 0 5px 0 5px;
        cursor: pointer;
      }

      .logout {
        border: 1px solid rgba(0, 0, 0, 0.164);
        position: absolute;
        top: 18px;
        right: 12px;
        width: 120px;
        height: 40px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.07);
        cursor: pointer;

        &:hover {
          background-color: rgb(245, 248, 250);
        }
      }
    }

    &__row-3,
    &__row-4,
    &__row-5 {
      padding: 0 0.8rem;
    }

    &__row-4,
    &__row-5 {
      font-size: 0.9rem;
    }
    &__row-5 {
      color: rgba(0, 0, 0, 0.308);

      .icon {
        margin-right: 0.3rem;
      }

      .calendar {
        margin-left: 1rem;
      }
    }
  }

  nav {
    height: 45px;

    ul {
      width: 100%;
      display: flex;
      justify-content: space-around;
      color: rgb(134, 147, 159);

      li:nth-child(1) {
        color: var(--primary);
      }
    }
  }
}

/* ProfileEditModal */
.edit-modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-modal {
  width: 600px;
  height: 120px;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid var(--border);

  &__row-1,
  &__row-4,
  &__row-5,
  &__row-6 {
    margin: 0 1rem;
  }

  /* ================================== */
  &__row-1 {
    height: 70px;
    display: flex;
    align-items: center;

    .close {
      width: 20px;
      margin-right: 0.8rem;
      color: var(--primary);
    }

    .save {
      margin-left: auto;
      padding: 5px 8px;
      background-color: var(--primary);
      color: white;
    }
  }

  /* ================================== */
  &__row-2,
  &__row-3 {
    label {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .camera,
      .close {
        color: rgb(255, 255, 255);
        width: 20px;
        height: 20px;
        cursor: pointer;
      }

      .camera {
        margin-right: 2rem;
      }
    }

    input {
      display: none;
    }
  }

  &__row-2 {
    height: 30%;
    max-height: 150px;
    overflow: hidden;
    position: relative;
    background-color: rgba(255, 146, 146, 0.651);

    label {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  &__row-3 {
    min-height: 80px;
    background-color: white;
    position: relative;
    z-index: 3;

    .profile-img {
      width: 110px;
      height: 110px;
      margin-left: 1rem;
      margin-top: -3rem;
      position: relative;
      border-radius: 50%;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;

      img,
      .default-img,
      label {
        width: 90%;
        height: 90%;
        border-radius: 50%;
      }

      .default-img {
        background-color: rgba(0, 0, 0, 0.411);
      }

      label {
        top: 5.5px;
        left: 5.5px;
        background-color: rgba(0, 0, 0, 0.3);

        .camera {
          margin-right: 0;
        }
      }
    }
  }

  /* ================================== */
  &__row-4,
  &__row-5,
  &__row-6 {
    height: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.3rem;
    background-color: rgb(245, 248, 250);

    label {
      color: rgba(0, 0, 0, 0.486);
      font-size: 0.9rem;
    }

    .input {
      height: 40px;
      font-size: 1.1rem;
      border-radius: 0;
      padding: 0;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid black;
    }
  }

  &__row-5 {
    height: 80px;

    .input {
      height: 100%;
    }
  }
}
