:root {
  --primary: rgb(0, 157, 250);
  --red: rgb(255, 82, 73);
  --border: rgba(0, 0, 0, 0.068);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 85vh;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
  position: relative;

  .auth,
  .home,
  .profile {
    flex: 3;
  }

  .init-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

input,
button {
  padding: 15px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.308);
  background-color: white;
  outline: none;
}

.input-submit {
  background-color: var(--primary);
  color: white;
  font-weight: 600;
  margin-top: 1.7rem;
  margin-bottom: 3.2rem;
  border: none;
}

button,
.input-submit {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}
